<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Pertanian</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="dashboard-bg">

<div class="container">
    <h1>Dashboard Pertanian</h1>

    <a href="/tambah_lahan" class="btn">+ Tambah Lahan</a>
    <a href="/logout" class="btn btn-danger">Logout</a>

    <table>
        <tr>
            <th>Nama Lahan</th>
            <th>Luas (Ha)</th>
            <th>Lokasi</th>
        </tr>

        {% for l in lahan %}
        <tr>
            <td>{{ l[1] }}</td>
            <td>{{ l[2] }}</td>
            <td>{{ l[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
